.page {
  min-height: 100vh;
  background: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
  background: white;
  padding: 32px;
  border-radius: 12px;
  width: 360px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: center;
}

.title {
  margin-bottom: 20px;
}

.back-btn {
  position: absolute;
  top: 12px;
  left: 12px;
  background: none;
  border: none;
  font-size: 12px;
  cursor: pointer;
  color: #444;
}

.btn {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
}

.btn-primary {
  background: green;
  color: white;
}

.btn-secondary {
  background: green;
  color: white;
}

.btn-google {
  background: #4285f4;
  color: white;
  border: none;
}

.expand {
  margin: 10px 0;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.PasswordGuidelines {
  color: #d32f2f;
  font-size: 12px;
  text-align: left;
  margin-bottom: 8px;
  padding: 6px 8px;
  border-radius: 6px;
  background: rgba(211, 47, 47, 0.08);
}

.divider-wrap {
  margin: 16px 0;
  display: flex;
  justify-content: center;
}

.divider {
  width: 70%;
  height: 2px;
  background: #ccc;
  border-radius: 10px;
}

.createlink {
  color: #0077ff;
  text-decoration: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

.modal {
  background: white;
  padding: 24px;
  border-radius: 10px;
  width: 320px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.msg.error {
  margin-bottom: 6px;
  color: #d32f2f;
  font-size: 18px;

}

.forgot-link {
  display: block;
  margin: 6px 0 10px;
  font-size: 12px;
  color: #10b981;
  text-decoration: none;
  cursor: pointer;
}

.forgot-link:hover {
  text-decoration: underline;
  font-size: 12px;
}

